@page "/healthcheck_"
@inject NavigationManager nav

<h1 class="text-center">Health Check</h1>
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 style="cursor: pointer" @onclick='() => GoTo("No Symptoms")'>No Symptoms</h3>
        </div>
        <div class="col">
            <h3 style="cursor: pointer" @onclick='() => GoTo("Flu Symptoms")'>Flu Symptoms</h3>
        </div>
        <div class="col">
            <h3 style="cursor: pointer" @onclick='() => GoTo("Covid Symptoms")'>Covid Symptoms</h3>
        </div>
        <div class="col">
            <h3 style="cursor: pointer" @onclick='() => GoTo("Tested Positive")'>Tested Positive</h3>
        </div>
        <div class="col">
            <h3 style="cursor: pointer" @onclick='() => GoTo("Tested Negative")'>Tested Negative</h3>
        </div>
    </div>
</div>

@code {

    private void GoTo(string value)
    {
        nav.NavigateTo($"/datepicker/{value}");
    }

}
